.skeleton-container {
	padding-right: 10px;
	border-width: 3px;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	min-height: 83px;
	justify-content: center;
}

.skeleton-container .skeleton-content {
	font-size: 0.8125rem;
	display: grid;
	grid-template-columns: 1fr 5fr;
}

.skeleton-container .skeleton-icon--placeholder {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 3px;
}

.skeleton-container span {
	font-size: 8px;
	border-radius: 25px;
}

.skeleton-container span:nth-child(2) {
	margin: 10px 0 10px 0;
}
