.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0px;
  z-index: 999;
  height: 60px;
  background: white;
  padding: 20px 10px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.01), 0 1px 2px rgba(0, 0, 0, 0.04);
  font-family: 'Roboto Mono', monospace;
}

.header i {
  cursor: pointer;
  transition: color 0.3s ease;
}

.header-container {
  display: flex;
}

.header .app-logo {
  width: 94px;
}

.header-nav {
  margin-right: 40px;
}

.header-nav-links {
  display: flex;
  padding: 0;
  margin: 0;
}

.header-nav-links li {
  list-style: none;
  padding-right: 10px;
  cursor: pointer;
  color: #a2a5a8;
  display: flex;
  align-items: center;
  height: 60px;
  font-weight: 500;
  font-size: 0.825rem;
  transition: all 0.25s ease;
}

.nav-link-active li,
.nav-link-active i {
  position: relative;
  color: #484c57 !important;
}

i.material-icons-round {
  font-size: 1.2rem;
  color: #a2a5a8;
}

.theme-toggle-btn {
  align-self: center;
}

.nav-link-active li::after {
  content: '';
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  width: calc(100% - 20px);
  height: 3px;
  background: #55575b;
  border-radius: 1px;
}

.theme-toggle-btn i {
  font-size: 1.25rem;
}

.header-nav-links li:hover,
.header-nav-links li:hover * {
  color: #62686d !important;
}

.ant-tooltip-placement-bottomRight {
  padding-top: 15px !important;
}

.ant-tooltip-inner {
  background: #67696e !important;
  font-size: 0.75rem;
  pointer-events: none;
  border-radius: 3px !important;
}

.ant-tooltip-arrow {
  display: none !important;
}

html[data-theme='dark'] .header {
  background: #111113;
}

html[data-theme='dark'] .header .theme-toggle-btn {
  cursor: pointer;
  transition: all 0.3s ease;
}

html[data-theme='dark'] .header-nav-links li {
  color: #a2a5a8c7;
}

html[data-theme='dark'] .header-nav-links li:hover,
html[data-theme='dark'] .header-nav-links li:hover * {
  color: #edf1f4 !important;
}

html[data-theme='dark'] .nav-link-active li,
html[data-theme='dark'] .nav-link-active i {
  color: #edf1f4 !important;
}

html[data-theme='dark'] .nav-link-active li::after {
  background: #edf1f4;
}

@media (hover: hover) {
  html[data-theme='dark'] .header .theme-toggle-btn i:hover {
    color: #edf1f4;
  }

  .header .theme-toggle-btn i:hover {
    color: #616263;
  }
}

@media all and (max-width: 700px) {
  .header-nav {
    margin-right: 10px;
  }
}

@media all and (max-width: 500px) {
  .header-nav-links li {
    padding: 10px;
  }
}

@media all and (min-width: 320px) and (max-width: 414px) {
  .header {
    padding: 20px 5px 20px 15px;
  }
}
