.skeleton-container {
    min-height: 110px;
    padding: 10px 20px 10px 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.skeleton-container .skeleton-content {
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    grid-template-areas: "." ".";
}

.skeleton-container .skeleton-icon--placeholder {
    margin: 25% auto;
    padding-right: 30%;
}

.skeleton-container span {
    font-size: 10px;
    border-radius: 25px;
}

.skeleton-container span:nth-child(2) {
    margin: 10px 0 10px 0;
}