.no-results-container {
    align-self: center;
}

.material-icons-round {
    color: rgba(15, 15, 15, 0.20);
    padding: 10px;
}

.no-results-description {
    margin-top: 10px;
    font-weight: 500;
    color: rgba(15, 15, 15, 0.50);
}

html[data-theme="dark"] .material-icons-round {
    color: rgba(255, 255, 255, 0.1);
    padding: 10px;
}

html[data-theme="dark"] .no-results-description {
    margin-top: 10px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.25);
}