* {
	font-family: 'Roboto Mono', monospace, Sans-Serif;
}

.search-form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 80vw;
	padding: 140px 0 40px 0;
}

.search-form-container .wrapper {
	max-width: 500px;
	width: 100%;
}

.search-header {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.search-header .material-icons-round {
	color: #81848bb0 !important;
	font-size: 22px;
}

.search-header .title {
	color: #424449;
	font-weight: 400;
	font-size: 1.4rem;
	align-self: center;
	margin: 0;
}

.search-form {
	position: relative;
	display: flex;
	justify-content: center;
	height: 43px;
	width: 100%;
	font-size: 0.825rem;
}

.search-form input[type='text'],
.search-form .clear-btn {
	border-radius: 3px;
	font-weight: 500;
	height: 100%;
}

.search-form input[type='text'] {
	border: 1px solid rgb(218, 218, 218);
	padding: 10px;
	background: rgb(255, 255, 255);
	-webkit-appearance: none;
	max-width: 400px;
	width: 100px;
	flex: 1;
	transition: background 0.25s ease;
}

.search-form input[type='text']:focus {
	border: 1px solid rgb(182, 182, 182);
}

.search-form .clear-btn {
	padding: 7px 15px;
	margin-left: 10px;
	background: #cacbcd;
	color: #494949;
	font-size: 0.8125rem;
	transition: background 0.15s ease-in, border 0.15s ease-in;
	border: 1px solid #b3b5b9;
	cursor: pointer;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.01), 0 1px 2px rgba(0, 0, 0, 0.05);
}

::placeholder {
	font-weight: 500;
	color: rgba(0, 0, 0, 0.3);
}

html[data-theme='dark'] .search-header .title {
	color: white;
}

html[data-theme='dark'] .search-form input[type='text'] {
	color: white;
	background: #202124;
	border: 1px solid #202124;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.1);
}

html[data-theme='dark'] .search-form input[type='text']:focus {
	background: #191a1d;
	border: 1px solid #191a1d;
}

html[data-theme='dark'] .search-form .clear-btn {
	color: #dddfe7;
	background: #55575c;
	border: 2px solid #595c61;
}

html[data-theme='dark'] ::placeholder {
	color: rgb(81, 84, 92);
}

@media (hover: hover) {
	html[data-theme='dark'] .search-form .clear-btn:hover {
		background: #67696e;
		border: 2px solid #6c6e74;
	}

	html[data-theme='dark'] .search-form .clear-btn:active {
		background: #45474b;
		border: 2px solid #494b50;
	}

	.search-form .clear-btn:hover {
		background: #b7b8bb;
		border: 1px solid #acadb3;
	}

	.search-form .clear-btn:active {
		background: #989c9e;
		border: 1px solid #919597;
	}
}

@media (hover: none) {
	.search-form .clear-btn {
		transition: none;
	}

	.search-form .clear-btn:active {
		background: #989c9e;
		border: 1px solid #989c9e;
	}

	html[data-theme='dark'] .search-form .clear-btn:active {
		background: #45474b;
	}
}

@media all and (max-width: 320px) {
	.search-form input[type='text'] {
		font-size: 0.75rem;
	}

	.search-form .clear-btn {
		padding: 7px;
	}
}

@media (hover: none) and (max-width: 414px) and (orientation: portrait),
	(hover: none) and (max-width: 896px) and (orientation: landscape) {
	.search-form .clear-btn {
		font-size: 0.8125rem;
	}

	::placeholder {
		font-weight: 400;
		color: rgba(0, 0, 0, 0.2);
	}
}
