@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500&display=swap');

* {
  box-sizing: border-box;
}

::selection {
  color: white;
  background: #9ABCF3;
}

*:focus {
  outline: none;
}

html[data-theme="dark"] body {
  background: #35363A;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  background: #e6e6e6;
  font-family: 'Roboto Mono', monospace;
  overflow-y: scroll;
}

.App {
  margin: auto;
  padding-bottom: 30px;
  text-align: center;
}

.content-container {
  display: grid;
  width: 95vw;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: repeat(3, 220px);
  grid-auto-rows: 250px;
  grid-gap: 1em;
  grid-auto-flow: dense;
}

.no-transition * {
  transition: none !important;
}

@media all and (max-width: 710px) {
  .content-container {
    width: 85vw;
    grid-template-columns: repeat(auto-fit, 100%);
    grid-gap: 1em;
  }
}

@media all and (max-width: 414px) {
  .content-container {
    width: calc(100vw - 30px);
    min-width: 80vw;
    grid-template-columns: repeat(auto-fit, minmax(250px, 100%));
    grid-template-rows: repeat(3, 220px);
    grid-auto-rows: 1fr;
  }
}

@media all and (max-width: 320px) {
  .content-container {
    grid-template-columns: repeat(auto-fit, minmax(100%, 100%));
  }
}

@media (hover: none) and (max-width: 414px) and (orientation: portrait),
(hover: none) and (max-width: 896px) and (orientation: landscape) {
  input[type="text"] {
    font-size: 1rem; 
  }
}